* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: $dark-gray;

  background-color: $black;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;

  text-transform: uppercase;

  &.btn-green {
    color: $white;

    background-color: $green;
  }
}

@media (width <= 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}